

.webcam-capture {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .controls {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .video-container {
        video {
          width: 100%;
          max-width: 320px;
          border-radius: 6px;
          background-color: #333;
        }
    }
}

.canvas-buffer {
    
    display:block; 
    width: 320px; 
    height: 240px; 
    margin-top: 20px;
    border-radius: 6px;
    filter: saturate(0);
}

